{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set pageTitle = 'Create and download documents - External movements' %}

{% set mainClasses = "app-container govuk-body" %}

{% block innerContent %}
  <div class="govuk-width-container">
    <span class="govuk-caption-l">Create and download documents</span>

    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      {{ govukSelect({
        label: {
          text: "Choose a document type",
          classes: "govuk-label--l govuk-!-margin-bottom-6",
          isPageHeading: true
        },
        id: "template",
        name: "template",
        items: templates | prependEmptyOption('Select a document type') | setSelectedValue(template),
        errorMessage: validationErrors | findError('template')
      }) }}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true
      }) }}
    </form>
  </div>
{% endblock %}
