{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% for period in periods %}
  {% set rows = [] %}
  {% for absence in period.absences %}
    {% set rows = (rows.push({
      key: {
        classes: 'half-width',
        html: absence.startDate | formatDate('cccc, d MMMM') if absence.startDate === absence.returnDate else (absence.startDate | formatDate('cccc, d MMMM') + ' to <br/>' + absence.returnDate | formatDate('cccc, d MMMM'))
      },
      value: {
        html: 'Release: ' + absence.startTime + '<br/>Return: ' + absence.returnTime
      }
    }), rows) %}
  {% endfor %}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Week starting " + period.startDate | formatDate('cccc, d MMMM yyyy')
      }
    },
    rows: rows if rows.length else [{ key: { text: "No absence entered" } }]
  }) }}
{% endfor %}

<p><a class="govuk-link govuk-link--no-visited-state" href="{{'enter-rotating-pattern' if patternType === 'ROTATING' else ('select-days-times-weekly' if patternType === 'WEEKLY' else 'enter-shift-pattern')}}">Go back to change this schedule</a></p>
