{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "partials/validatedTimeInput/macro.njk" import validatedTimeInput %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "Enter absence dates and times - Add a temporary absence" %}

{% macro dayEntry(opts) %}
    {{ validatedTimeInput({
        id: opts.id + "Release",
        name:  opts.id + "Release",
        classes: 'govuk-!-static-margin-bottom-6',
        fieldset: {
            legend: {
                text: 'Release time'
            }
        },
        validationErrors: validationErrors,
        hour: opts.releaseHour,
        minute: opts.releaseMinute
    }) }}

    {{ validatedTimeInput({
        id: opts.id + "Return",
        name:  opts.id + "Return",
        classes: 'govuk-!-static-margin-bottom-6',
        fieldset: {
            legend: {
                text: 'Return time'
            }
        },
        validationErrors: validationErrors,
        hour: opts.returnHour,
        minute: opts.returnMinute
    }) }}

    {% set overnightHtml %}
    {{ validatedTimeInput({
            id: opts.id + "Overnight",
            name:  opts.id + "Overnight",
            classes: 'govuk-!-static-margin-bottom-6',
            fieldset: {
                legend: {
                    text: "Return time on " + opts.nextDay
                }
            },
            validationErrors: validationErrors,
            hour: opts.overnightHour,
            minute: opts.overnightMinute
        }) }}
    {% endset %}

    {{ govukCheckboxes({
        id: opts.id + "IsOvernight",
        name: opts.id + "IsOvernight",
        classes: 'govuk-!-static-margin-bottom-6 govuk-checkboxes--small',
        items: [
            {
                value: "true",
                text: "Is this an overnight absence?",
                checked: opts.isOvernight,
                conditional: {
                    html: overnightHtml
                }
            }
        ],
        validationErrors: validationErrors
    }) }}
{% endmacro %}

{% block innerContent %}
    <span class="govuk-caption-l">Add a temporary absence</span>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {% set dayItems = [] %}
        {% for day in dayData %}
            {% set dayItems = (dayItems.push({
                text: day.day | capitalize,
                value: day.day,
                checked: days | contains(day.day),
                conditional: {
                    html: dayEntry({
                        id: day.day,
                        nextDay: day.nextDay,
                        releaseHour: day.releaseHour,
                        releaseMinute: day.releaseMinute,
                        returnHour: day.returnHour,
                        returnMinute: day.returnMinute,
                        overnightHour: day.overnightHour,
                        overnightMinute: day.overnightMinute,
                        isOvernight: day.isOvernight
                    })
                }
            }), dayItems) %}
        {% endfor %}
        {{ govukCheckboxes({
            name: "days",
            errorMessage: validationErrors | findError('days'),
            hint: {
                text: "You can select more than one day. When entering times use the 24-hour clock. For example, 09:09 or 17:32."
            },
            fieldset: {
                legend: {
                    text: "Enter the days and times for these absences",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl"
                }
            },
            items: dayItems
        }) }}
        {{ govukButton({
            text: "Continue",
            preventDoubleClick: true
        }) }}
    </form>
{% endblock %}