{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "Enter rotating pattern - Add a temporary absence" %}

{% block innerContent %}
  <span class="govuk-caption-l">Create a Temporary Absence</span>
  <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Enter the pattern for this absence</h1>
  <p class="govuk-hint">You can add as many rows as you need to cover the entire period of this pattern.</p>
  {{ govukInsetText({
        text: "This pattern will start on " + startDate | formatDate + " and end on "+ endDate | formatDate + "."
    }) }}
  <form method="post" data-module="moj-add-another" class="add-another-form">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
    {% for item in items %}
      {% call govukFieldset({
          classes: "moj-add-another__item"
        }) %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          {{ govukInput({
                id: "items[" + loop.index0 + "][count]",
                name: "items[" + loop.index0 + "][count]",
                value: item.count,
                label: {
                  text: 'Enter a number',
                  classes: "govuk-hint"
                },
                errorMessage: validationErrors | findError("items[" + loop.index0 + "][count]"),
                classes: 'hmpps-datepicker--fixed-width govuk-body',
                attributes: {
                  "data-id": "items[%index%][count]",
                  "data-name": "items[%index%][count]"
                }
              }) }}
        </div>
        <div class="govuk-grid-column-one-half">
          {{ govukSelect({
              id: "items[" + loop.index0 + "][type]",
              name: "items[" + loop.index0 + "][type]",
              value: item.type,
              label: {
                text: 'Working pattern type',
                classes: "govuk-hint"
              },
              errorMessage: validationErrors | findError("items[" + loop.index0 + "][type]"),
              items: [
                {
                  value: "",
                  text: "Select the type of working pattern"
                },
                {
                  value: "Scheduled days",
                  text: "Scheduled days"
                },
                {
                  value: "Rest days",
                  text: "Rest days"
                },
                {
                  value: "Scheduled nights",
                  text: "Scheduled nights"
                }
              ],
              attributes: {
                  "data-id": "items[%index%][type]",
                  "data-name": "items[%index%][type]"
                }
            }) }}
        </div>
      </div>

      {% if items.length > 1 %}
        {{ govukButton({
              name: "remove",
              value: loop.index0,
              text: "Remove",
              classes: "govuk-button--secondary moj-add-another__remove-button"
            }) }}
      {% endif %}
      {% endcall %}
    {% endfor %}

    {% if validationErrors | findError("add") %}
      <p id="items-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{ validationErrors | findErrorMessage("add") }}
      </p>
    {% endif %}

    {{ govukWarningText({
        text: "Make sure you add any rest days that come at the end of the schedule before the next schedule starts.",
        iconFallbackText: "Warning"
    }) }}

    <div class="moj-button-action">
      {{ govukButton({
          name: "add",
          id: "add",
          text: "Add another row",
          classes: "govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4"
        }) }}
    </div>

    {{ govukButton({
        name: "save",
        id: "save",
        text: "Continue",
        preventDoubleClick: true
    }) }}
  </form>
{% endblock %}