{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% if phaseBanner %}
  {{ govukPhaseBanner({
    tag: { text: phaseBanner.tagText },
    html: phaseBanner.html
  }) }}
{% endif %}
