{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/validatedTimeInput/macro.njk" import validatedTimeInput %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "Enter rotating pattern release and return times - Add a temporary absence" %}

{% block innerContent %}
    <span class="govuk-caption-l">Create a Temporary Absence</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Enter the release and return times for this pattern</h1>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {% for item in times %}
            <div class="govuk-grid-row">
                <h2 class="govuk-heading-m govuk-!-margin-left-3">{{item.title}}</h2>
                <input type="hidden" name="times[{{loop.index0}}][type]" value="{{item.type}}"/>
                <div class="govuk-grid-column-one-third">
                    {{ validatedTimeInput({
                        id: "release",
                        name: "release",
                        addAnother: {
                            id: 'times',
                            index: loop.index0
                        },
                        fieldset: {
                            legend: {
                                text: 'Start time',
                                classes: "govuk-fieldset__legend--s"
                            }
                        },
                        validationErrors: validationErrors,
                        hour: item.releaseHour,
                        minute: item.releaseMinute
                    }) }}
                </div>
                <div class="govuk-grid-column-one-third">
                    {{ validatedTimeInput({
                        id: "return",
                        name: "return",
                        addAnother: {
                            id: 'times',
                            index: loop.index0
                        },
                        fieldset: {
                            legend: {
                                text: 'Return time',
                                classes: "govuk-fieldset__legend--s"
                            }
                        },
                        validationErrors: validationErrors,
                        hour: item.returnHour,
                        minute: item.returnMinute
                    }) }}
                </div>
            </div>
        {% endfor %}
        {{ govukButton({
            text: "Continue",
            preventDoubleClick: true
        }) }}
    </form>
{% endblock %}
