TOKEN_VERIFICATION_ENABLED=false
REDIS_HOST=localhost
# may set to true if a redis is running on localhost
REDIS_ENABLED=false

# Credentials for allowing user access
AUTH_CODE_CLIENT_ID=secret
AUTH_CODE_CLIENT_SECRET=secret

# Credentials for API calls
CLIENT_CREDS_CLIENT_ID=secret
CLIENT_CREDS_CLIENT_SECRET=secret

EXTERNAL_MOVEMENTS_API_URL=https://external-movements-api-dev.hmpps.service.justice.gov.uk

HMPPS_AUTH_URL=https://sign-in-dev.hmpps.service.justice.gov.uk/auth
TOKEN_VERIFICATION_API_URL=https://token-verification-api-dev.prison.service.justice.gov.uk
PRISON_API_URL=https://prison-api-dev.prison.service.justice.gov.uk
COMPONENT_API_URL=https://frontend-components-dev.hmpps.service.justice.gov.uk
COMPONENT_API_TIMEOUT_RESPONSE=5000
COMPONENT_API_TIMEOUT_DEADLINE=5000
COMMON_COMPONENTS_ENABLED=true
DPS_HOME_PAGE_URL=https://digital-dev.prison.service.justice.gov.uk
PRISONER_PROFILE_URL=https://prisoner-dev.digital.prison.service.justice.gov.uk
