{% extends "partials/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = 'Select absence reason - Manage temporary absences' %}

{% block innerContent %}
  <div class="govuk-width-container">
    <span class="govuk-caption-l">Manage Temporary Absences</span>
    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      {{ govukRadios({
        name: "reasonCategory",
        errorMessage: validationErrors | findError('reasonCategory'),
        fieldset: {
          legend: {
            text: "What is the reason for this absence?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: options | setCheckedValue(reasonCategory)
      }) }}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true
      }) }}
    </form>
  </div>
{% endblock %}
