{% extends "partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "partials/absenceStatusTag/macro.njk" import absenceStatusTag %}
{% from "partials/simplePagination/macro.njk" import simplePagination %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set fullWidth = true %}
{% set pageTitle = 'Select absence plan - Create and download documents' %}
{% set mainClasses = "app-container govuk-body" %}

{% block innerContent %}
  <div class="govuk-width-container">
    <span class="govuk-caption-l">Create and download documents</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Select which plan you want to use</h1>

    {% if not results.length %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p><strong>No absence plan found for this prisoner.</strong></p>

          <p class="govuk-!-margin-bottom-6">You can continue without selecting an absence plan. On the next screen, you can enter absence information if available or leave it blank.</p>

          {{ govukButton({
            text: "Continue without an absence plan",
            href: documentGenerationUrl,
            preventDoubleClick: true
          }) }}
        </div>
      </div>
    {% else %}
      {% set rows = [] %}
      {% for authorisation in results %}
        {% set rows = (rows.push([
          {
            text: authorisation.start | formatDate
          },
          {
            text: authorisation.end | formatDate
          },
          {
            text: authorisation.absenceCategorisation
          },
          {
            text: ('Repeating (' + authorisation.occurrenceCount + ' occurrence' + (')' if authorisation.occurrenceCount === 1 else 's)')) if authorisation.repeat else 'Single'
          },
          {
            html: absenceStatusTag(authorisation)
          },
          {
            html: '<a class="govuk-link govuk-link--no-visited-state action-100px" href="' + documentGenerationUrl + '&absenceId=' + authorisation.id + '">Select plan<span class="govuk-visually-hidden"> start on ' + authorisation.start | formatDate + '</span></a>',
            format: "numeric"
          }
        ]), rows) %}
      {% endfor %}

      {{ simplePagination(paginationParams) }}

      {{ govukTable({
        firstCellIsHeader: false,
        classes: 'table-vertical-align-middle govuk-!-margin-top-6',
        head: [
          {
            text: "Start date"
          },
          {
            text: "End date"
          },
          {
            text: "Absence type"
          },
          {
            text: 'Single or repeating'
          },
          {
            text: 'Status'
          },
          {
            text: "Action",
            format: "numeric"
          }
        ],
        rows: rows
      }) }}

      {{ simplePagination(paginationParams) }}

      {{ govukButton({
        classes: "govuk-button--secondary govuk-!-margin-top-6",
        text: "Continue without an absence plan",
        href: documentGenerationUrl,
        preventDoubleClick: true
      }) }}
    {% endif %}
  </div>
{% endblock %}
