<script nonce="{{ cspNonce }}">
  window.onload = function () {
    const button = document.querySelector('.confirm-or-continue-button')
    button.innerHTML = document.querySelector('.govuk-radios__input:checked')?.getAttribute('nextDomain') ? 'Continue' : 'Confirm and save'

    document.querySelectorAll('.govuk-radios__input').forEach(el => {
      el.addEventListener('input', event => {
        button.innerHTML = event.target.getAttribute('nextDomain') ? 'Continue' : 'Confirm and save'
      })
    })
  }
</script>
