{% extends "partials/layout.njk" %}

{% set pageTitle = 'Authorisation error - External Movements' %}

{% block innerContent %}
  <h1 class="govuk-heading-l">
    Authorisation Error
  </h1>
  <p>
    You are not authorised to use this application.
  </p>
{% endblock %}
