{% extends "partials/layout.njk" %}

{% block main %}
{% addHistory %}
  <div class="govuk-width-container" id="before-content">
    {% if showBreadcrumbs and breadcrumbs and(not backUrl) %}
      <div class="govuk-!-display-none-print">
        <div>
          {{ govukBreadcrumbs({
            items: breadcrumbs.items
          }) }}
        </div>
      </div>
    {% endif %}

    {% set errorSummaryList = validationErrors | buildErrorSummaryList %}
    {% if errorSummaryList.length > 0 %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: (errorSummaryList | customErrorOrderBuilder(customErrorOrder)) if customErrorOrder else errorSummaryList,
            classes: 'govuk-!-margin-top-3 govuk-!-margin-bottom-0'
          }) }}
        </div>
      </div>
    {% endif %}
  </div>

  <main id="main-content">
    <div class="govuk-width-container"><h1 class="govuk-heading-l govuk-!-margin-bottom-6 govuk-!-margin-top-8">External movements</h1></div>
    <div class="homepage-card-background">
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="card-group govuk-grid-row">

              {% if user | hasPermission('TAP', 'MANAGE') %}
                <div class="govuk-grid-column-one-third card-group__item">
                  <div class="card card--clickable">
                    <h2 class="govuk-heading-m card__heading">
                      <a class="govuk-link govuk-link--no-visited-state card__link" href="/temporary-absences-home">Add and manage temporary absences</a>
                    </h2>
                    <p class="govuk-body card__description">Add new temporary absences and view, approve or cancel existing absences.</p>
                  </div>
                </div>
              {% elseif user | hasPermission('TAP', 'VIEW') %}
                <div class="govuk-grid-column-one-third card-group__item">
                  <div class="card card--clickable">
                    <h2 class="govuk-heading-m card__heading">
                      <a class="govuk-link govuk-link--no-visited-state card__link" href="/temporary-absences-home">View temporary absences</a>
                    </h2>
                    <p class="govuk-body card__description">View temporary absences and occurrences within those absences.</p>
                  </div>
                </div>
              {% endif %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% history %}
  {{ history | dump | safe }}
{% endAddHistory %}
{% endblock %}
