{% extends "partials/layout.njk" %}

{% block main %}
{% addHistory %}
  <div class="govuk-width-container" id="before-content">
    {% include "partials/phase-banner.njk" %}
    {% if showBreadcrumbs and breadcrumbs and(not backUrl) %}
      <div class="govuk-!-display-none-print">
        <div>
          {{ govukBreadcrumbs({
            items: breadcrumbs.items
          }) }}
        </div>
      </div>
    {% endif %}

    {% set errorSummaryList = validationErrors | buildErrorSummaryList %}
    {% if errorSummaryList.length > 0 %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: (errorSummaryList | customErrorOrderBuilder(customErrorOrder)) if customErrorOrder else errorSummaryList,
            classes: 'govuk-!-margin-top-3 govuk-!-margin-bottom-0'
          }) }}
        </div>
      </div>
    {% endif %}
  </div>

  <main id="main-content">
    <div class="govuk-width-container"><h1 class="govuk-heading-l govuk-!-margin-bottom-6 govuk-!-margin-top-8">Temporary absences</h1></div>
    <div class="homepage-card-background">
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="card-group govuk-grid-row">

              {% if user | hasPermission('TAP', 'MANAGE') %}
                <div class="govuk-grid-column-one-third card-group__item">
                  <div class="card card--clickable">
                    <h2 class="govuk-heading-m card__heading">
                      <a class="govuk-link govuk-link--no-visited-state card__link" href="/search-prisoner">Add a temporary absence</a>
                    </h2>
                    <p class="govuk-body card__description">Add a single or repeating absence for a prisoner, including ROTL (release on temporary license), police production and security escort.</p>
                  </div>
                </div>
              {% endif %}

              <div class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable">
                  <h2 class="govuk-heading-m card__heading">
                    <a class="govuk-link govuk-link--no-visited-state card__link" href="/temporary-absence-authorisations?start={{ inputDate() }}&end={{ inputDate(31) }}">
                      {% if user | hasPermission('TAP', 'MANAGE') %}
                        View and manage absence plans
                      {% else %}
                        View absence plans
                      {% endif %}
                    </a>
                  </h2>
                  <p class="govuk-body card__description">
                    {% if user | hasPermission('TAP', 'MANAGE') %}
                      View, manage and approve temporary absence plans. These set the overall details for all occurrences of the prisoner going out under that plan.
                    {% else %}
                      These set the overall details for all occurrences of the prisoner going out under that plan.
                    {% endif %}

                  </p>
                </div>
              </div>

              <div class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable">
                  <h2 class="govuk-heading-m card__heading">
                    <a class="govuk-link govuk-link--no-visited-state card__link" href="/temporary-absences?start={{ inputDate() }}&end={{ inputDate(31) }}">
                      {% if user | hasPermission('TAP', 'MANAGE') %}
                        View and manage absence occurrences
                      {% else %}
                        View absence occurrences
                      {% endif %}
                    </a>
                  </h2>
                  <p class="govuk-body card__description">
                    {% if user | hasPermission('TAP', 'MANAGE') %}
                      View and manage individual occurrences of absence plans, and cancel and edit occurrences.
                    {% else %}
                      View individual occurrences of absence plans.
                    {% endif %}
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="govuk-main-wrapper app-container govuk-body">
      <div class="govuk-width-container govuk-!-margin-top-4">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-7">Temporary absences for {{ user.activeCaseLoad.description }}</h2>
        <div class="govuk-grid-row hmpps-miniSummaryWrapper govuk-!-margin-bottom-6">
          <div class="govuk-grid-column-one-third">
            <div class="hmpps-summary-card">
              <div class="hmpps-summary-card__header">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                    <h4>Awaiting decision</h4>
                  </div>
                  {% if user | hasPermission('TAP', 'MANAGE') %}
                    <div class="govuk-summary-list govuk-summary-list__actions govuk-!-font-weight-bold">
                      <a class="govuk-link govuk-link--no-visited-state" href="/temporary-absence-authorisations?status=PENDING&start={{ inputDate() }}&end={{ inputDate(31) }}">View<span class="govuk-visually-hidden"> referrals with status ‘Awaiting decision’</span></a>
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="hmpps-summary-card__body">
                <div class="govuk-grid-row card-body ">
                  <div class="govuk-grid-column-full">
                    <p class="govuk-heading-xl govuk-!-padding-top-4">
                      {{ tapOverview.approvalsRequired or '0' }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="govuk-grid-column-one-third">
            <div class="hmpps-summary-card">
              <div class="hmpps-summary-card__header">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                    <h4>Out today on a temporary absence</h4>
                  </div>
                </div>
              </div>
              <div class="hmpps-summary-card__body">
                <div class="govuk-grid-row card-body ">
                  <div class="govuk-grid-column-full">
                    <p class="govuk-heading-xl govuk-!-padding-top-4">
                      {{ tapOverview.leavingToday or '0' }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="govuk-grid-column-one-third">
            <div class="hmpps-summary-card">
              <div class="hmpps-summary-card__header">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                    <h4>Returning today from a temporary absence</h4>
                  </div>
                </div>
              </div>
              <div class="hmpps-summary-card__body">
                <div class="govuk-grid-row card-body ">
                  <div class="govuk-grid-column-full">
                    <p class="govuk-heading-xl govuk-!-padding-top-4">
                      {{ tapOverview.returningToday or '0' }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% history %}
  {{ history | dump | safe }}
{% endAddHistory %}
{% endblock %}
