{% extends "partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = 'Check your answers - Add a temporary absence' %}

{% block innerContent %}
  <div class="govuk-width-container">
    <span class="govuk-caption-l">Create a Temporary Absence</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Check this information before saving this absence</h1>

    <h2 class="govuk-heading-m">Absence information</h2>
    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-7",
      rows: [
        {
          key: {
            text: "Absence type"
          },
          value: {
            text: absenceType.description
          },
          actions: {
            items: [
                {
                  href: "absence-type",
                  text: "Change",
                  visuallyHiddenText: "absence type",
                  classes: "govuk-link--no-visited-state"
                }
            ]
          }
        },
        {
          key: {
          text: "Absence sub-type"
        },
          value: {
          text: absenceSubType.description
        },
          actions: {
          items: [
            {
              href: "absence-subtype",
              text: "Change",
              visuallyHiddenText: "absence sub-type",
              classes: "govuk-link--no-visited-state"
            }
          ]
        }
        } if absenceSubType,
        {
          key: {
          text: "Absence reason"
        },
          value: {
          text: reasonCategory.description
        },
          actions: {
          items: [
            {
              href: "reason-category",
              text: "Change",
              visuallyHiddenText: "absence reason",
              classes: "govuk-link--no-visited-state"
            }
          ]
        }
        } if reasonCategory,
        {
          key: {
          text: "Work type" if reasonCategory else "Absence reason"
        },
          value: {
          text: reason.description
        },
          actions: {
          items: [
            {
              href: "reason",
              text: "Change",
              visuallyHiddenText: "work type" if reasonCategory else "absence reason",
              classes: "govuk-link--no-visited-state"
            }
          ]
        }
        } if reason,
        {
          key: {
          text: "Single or repeating absence"
        },
          value: {
          text: 'Repeating' if repeat else 'Single'
        },
          actions: {
          items: [
            {
              href: "single-or-repeating",
              text: "Change",
              visuallyHiddenText: "single or repeating absence type",
              classes: "govuk-link--no-visited-state"
            }
          ]
        }
        }
      ] | removeNullish
    }) }}

    <h2 class="govuk-heading-m">Absence dates and times</h2>
    {% if repeat %}
      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-7",
        rows: [
          {
            key: {
            text: "Repeating schedule type"
          },
            value: {
            text: ({ FREEFORM: 'Does not repeat in a regular pattern', WEEKLY: 'Repeats weekly', BIWEEKLY: 'Repeats every 2 weeks', SHIFT: 'Repeats in a custom pattern' })[patternType]
          },
            actions: {
            items: [
              {
                href: "repeating-pattern",
                text: "Change",
                visuallyHiddenText: "repeating pattern",
                classes: "govuk-link--no-visited-state"
              }
            ]
          }
          },
          {
            key: {
            text: "Start date"
          },
            value: {
            text: fromDate | formatDate
          },
            actions: {
            items: [
              {
                href: "start-end-dates#fromDate",
                text: "Change",
                visuallyHiddenText: "start date",
                classes: "govuk-link--no-visited-state"
              }
            ]
          }
          },
          {
            key: {
            text: "End date"
          },
            value: {
            text: toDate | formatDate
          },
            actions: {
            items: [
              {
                href: "start-end-dates#toDate",
                text: "Change",
                visuallyHiddenText: "end date",
                classes: "govuk-link--no-visited-state"
              }
            ]
          }
          },
          {
            key: {
            text: "Number of absence occurrences"
          },
            value: {
            text: occurrences.length
          },
            actions: {
            items: [
              {
                href: "check-absences",
                text: "Change",
                visuallyHiddenText: "absences",
                classes: "govuk-link--no-visited-state"
              }
            ]
          }
          }
        ]
      }) }}
    {% else %}
      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-7",
        rows: [
          {
            key: {
            text: "Start date"
          },
            value: {
            text: startDate | formatDate
          },
            actions: {
            items: [
              {
                href: "start-date#startDate",
                text: "Change",
                visuallyHiddenText: "start date",
                classes: "govuk-link--no-visited-state"
              }
            ]
          }
          },
          {
            key: {
            text: "Start time"
          },
            value: {
            text: startTime
          },
            actions: {
            items: [
              {
                href: "start-date#startTimeHour",
                text: "Change",
                visuallyHiddenText: "start time",
                classes: "govuk-link--no-visited-state"
              }
            ]
          }
          },
          {
            key: {
            text: "End date"
          },
            value: {
            text: returnDate | formatDate
          },
            actions: {
            items: [
              {
                href: "end-date#returnDate",
                text: "Change",
                visuallyHiddenText: "end date",
                classes: "govuk-link--no-visited-state"
              }
            ]
          }
          },
          {
            key: {
            text: "End time"
          },
            value: {
            text: returnTime
          },
            actions: {
            items: [
              {
                href: "end-date#returnTimeHour",
                text: "Change",
                visuallyHiddenText: "end time",
                classes: "govuk-link--no-visited-state"
              }
            ]
          }
          }
        ]
      }) }}
    {% endif %}

    <h2 class="govuk-heading-m">Location and transport</h2>

    {% if repeat %}
      {% set locationRows = [] %}

      {% for loc in locations %}
        {% set locationRows = (locationRows.push(loc.description or loc | joinAddress), locationRows) %}
      {% endfor %}

      {% set locationValue = { html: locationRows | join('<br/><br/>') } %}
    {% else %}
      {% set locationValue = { text: location.description or location | joinAddress } %}
    {% endif %}

    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-7",
      rows: [
        {
          key: {
          text: "Locations" if repeat else "Location"
        },
          value: locationValue,
          actions: {
          items: [
            {
              href: "search-locations" if repeat else "search-location",
              text: "Change",
              visuallyHiddenText: "locations" if repeat else "location",
              classes: "govuk-link--no-visited-state"
            }
          ]
        }
        },
        {
          key: {
          text: "Accompanied or unaccompanied"
        },
          value: {
          text: 'Accompanied' if accompanied else 'Unaccompanied'
        },
          actions: {
          items: [
            {
              href: "accompanied-or-unaccompanied",
              text: "Change",
              visuallyHiddenText: "if the prisoner will be accompanied or unaccompanied",
              classes: "govuk-link--no-visited-state"
            }
          ]
        }
        },
        {
          key: {
          text: "Accompanied by"
        },
          value: {
          text: accompaniedBy.description
        },
          actions: {
          items: [
            {
              href: "accompanied",
              text: "Change",
              visuallyHiddenText: "who will accompany the prisoner",
              classes: "govuk-link--no-visited-state"
            }
          ]
        }
        } if accompanied,
        {
          key: {
          text: "Transport"
        },
          value: {
          text: transport.description
        },
          actions: {
          items: [
            {
              href: "transport",
              text: "Change",
              visuallyHiddenText: "transport type",
              classes: "govuk-link--no-visited-state"
            }
          ]
        }
        }
      ] | removeNullish
    }) }}

    <h2 class="govuk-heading-m">Comments and approval</h2>
    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-7",
      rows: [
        {
          key: {
          text: "Relevant comments"
        },
          value: {
          html: (notes or "Not provided") | escape | nl2br
        },
          actions: {
          items: [
            {
              href: "comments",
              text: "Change",
              visuallyHiddenText: "comments",
              classes: "govuk-link--no-visited-state"
            }
          ]
        }
        },
        {
          key: {
          text: "Approval needed?"
        },
          value: {
          text: 'Yes' if requireApproval else 'No'
        },
          actions: {
          items: [
            {
              href: "approval",
              text: "Change",
              visuallyHiddenText: "approval status",
              classes: "govuk-link--no-visited-state"
            }
          ]
        }
        }
      ]
    }) }}

    {% if repeat %}
      {{ govukInsetText({
        text: "These details can still be changed after you have saved this absence. You can also add additional occurrences to this absence or remove them."
      }) }}
    {% else %}
      {{ govukInsetText({
        text: "These details can still be changed after you have saved this absence."
      }) }}
    {% endif %}

    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      {{ govukButton({
        text: "Confirm and save",
        preventDoubleClick: true
      }) }}
    </form>
  </div>
{% endblock %}
