{% extends "partials/layout.njk" %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = 'Enter comments - Manage Temporary Absences' %}

{% block innerContent %}
  <div class="govuk-width-container">
    <span class="govuk-caption-l">Manage Temporary Absences</span>
    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      {{ govukCharacterCount({
        name: "comments",
        errorMessage: validationErrors | findError('comments'),
        maxlength: 4000,
        rows: 10,
        label: {
          text: "Enter any relevant comments",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "Add any details that might be relevant for reception staff or other colleagues viewing this absence to see."
        },
        value: comments
      }) }}

      {{ govukButton({
        text: "Confirm and save",
        preventDoubleClick: true
      }) }}
    </form>
  </div>
{% endblock %}
