$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/index";
@import "@ministryofjustice/frontend/moj/all";
@import '@ministryofjustice/hmpps-connect-dps-shared-items/dist/assets/scss/all';

@import './components/header-bar';
@import './components/card';
@import './components/mini-profile';
@import './components/miniSummary';
@import './components/summary-card';
@import './components/horizontal-search-form';
@import './overrides/local';
