{% extends "partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "partials/hiddenInputs/macro.njk" import hiddenInputs %}
{% from "partials/absenceStatusTag/macro.njk" import absenceStatusTag %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{%- from "moj/components/timeline/macro.njk" import mojTimeline -%}

{% set fullWidth = true %}
{% set pageTitle = 'View temporary absence - View temporary absences' %}

{% block innerContent %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-bottom-2">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Manage Temporary Absences</span>
        <h1 class="govuk-heading-l">View {{ prisonerDetails | firstNameSpaceLastName | possessiveComma }} temporary absence</h1>

        <div class="govuk-button-group">
          {% if result.status.code === 'PENDING' %}
            {{ govukButton({
              text: "Approve this absence",
              href: "/temporary-absence-authorisations/" + result.id + "/approval",
              preventDoubleClick: true
            }) }}
          {% endif %}
          {% if result.status.code === 'APPROVED' %}
            {{ govukButton({
              classes: "govuk-button--warning",
              text: "Cancel this absence",
              href: "/temporary-absence-authorisations/" + result.id + "/cancel",
              preventDoubleClick: true
            }) }}
          {% endif %}
        </div>
        {% set viewAbsenceHtml %}
          {{ govukSummaryList({
            card: {
              classes: "govuk-!-margin-bottom-2",
              title: {
                text: "Absence information"
              },
              actions: { items: [{
                href: "/temporary-absence-authorisations/start-edit/" + result.id,
                text: "Make changes to this absence"
              }] }
            },
            rows: [
              {
                key: { text: "Status" },
                value: { html: absenceStatusTag(result) }
              },
              {
                key: { text: "Absence type" },
                value: { text: result.absenceType.description }
              },
              {
                key: { text: "Absence sub-type" },
                value: { text: result.absenceSubType.description }
              } if result.absenceSubType,
              {
                key: { text: "Absence reason" },
                value: { text: result.absenceReasonCategory.description }
              } if result.absenceReasonCategory,
              {
                key: { text: "Work type" if result.absenceReasonCategory else "Absence reason" },
                value: { text: result.absenceReason.description }
              } if result.absenceReason,
              {
                key: { text: "Start date" },
                value: { text: result.fromDate | formatDate }
              },
              {
                key: { text: "End date" },
                value: { text: result.toDate | formatDate }
              },
              {
                key: { text: "Single or repeating absence" },
                value: { text: 'Repeating' if result.repeat else 'Single' }
              },
              {
                key: { text: "Comments" },
                value: { text: result.notes or "Not provided" }
              }
            ] | removeNullish
          }) }}
        {% endset -%}

        {% set absenceHistoryHtml %}
          {{ mojTimeline({
            items: [
              {
                label: {
                text:  "Absence created"
              },
                text: "Temporary absence saved for " + prisonerDetails | firstNameSpaceLastName + ".",
                datetime: {
                timestamp: result.submitted.at,
                type: "datetime"
              },
                byline: {
                text: result.submitted.displayName | initialiseName + ' (' + result.submitted.by + ')'
              }
              },
              {
                label: {
                text:  "Absence approved"
              },
                text: "Temporary absence approved for " + prisonerDetails | firstNameSpaceLastName + ".",
                datetime: {
                timestamp: result.approved.at,
                type: "datetime"
              },
                byline: {
                text: result.approved.displayName | initialiseName + ' (' + result.approved.by + ')'
              }
              } if result.approved else undefined
            ] | removeNullish | reverse
          }) }}
        {% endset -%}

        {{ govukTabs({
          items: [
            {
              label: "View absence",
              id: "view-absence",
              panel: {
              html: viewAbsenceHtml
            }
            },
            {
              label: "Absence history",
              id: "absence-history",
              panel: {
              html: absenceHistoryHtml
            }
            }
          ]
        }) }}
      </div>

      <div class="govuk-grid-column-one-quarter align-right">
        <h2 class="govuk-heading-m">Related tasks</h2>
        <p><a class="govuk-link govuk-link--no-visited-state" href="/add-temporary-absence/start/{{ prisonerDetails.prisonerNumber }}">Create a new absence for {{ prisonerDetails | firstNameSpaceLastName }}</a></p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">View absence occurrences</h2>
      </div>
      <div class="govuk-summary-list govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" href="/temporary-absence-authorisations/{{ result.id }}/occurrences">Add occurrence</a>
      </div>
    </div>

    {% set rows = [] %}
    {% for occurrence in result.occurrences %}
      {% set rows = (rows.push([
        {
          text: occurrence.releaseAt | formatDate('cccc, d MMMM yyyy HH:mm'),
          attributes: { "data-sort-value": occurrence.releaseAt }
        },
        {
          text: occurrence.returnBy | formatDate('cccc, d MMMM yyyy HH:mm'),
          attributes: { "data-sort-value": occurrence.returnBy }
        },
        {
          text: occurrence.location.description,
          attributes: { "data-sort-value": occurrence.location.description }
        },
        {
          text: occurrence.accompaniedBy.description,
          attributes: { "data-sort-value": occurrence.accompaniedBy.description }
        },
        {
          text: occurrence.transport.description,
          attributes: { "data-sort-value": occurrence.transport.description }
        },
        {
          classes: 'govuk-link govuk-link--no-visited-state',
          html: '<a class="govuk-link govuk-link--no-visited-state" href="/temporary-absences/start-edit/' + occurrence.id + '">Make changes to this occurrence<span class="govuk-visually-hidden"> on ' + occurrence.releaseAt | formatDate('cccc, d MMMM yyyy HH:mm') + '</span></a>',
          format: "numeric"
        }
      ]), rows) %}
    {% endfor %}

    {{ govukTable({
      attributes: {
        "data-module": "moj-sortable-table"
      },
      firstCellIsHeader: false,
      classes: 'table-vertical-align-middle govuk-!-margin-top-4',
      head: [
        {
          text: "Start date and time",
          attributes: { "aria-sort": "none" }
        },
        {
          text: "End date and time",
          attributes: { "aria-sort": "none" }
        },
        {
          text: 'Location',
          attributes: { "aria-sort": "none" }
        },
        {
          text: 'Accompanied by',
          attributes: { "aria-sort": "none" }
        },
        {
          text: 'Transport',
          attributes: { "aria-sort": "none" }
        },
        {
          text: "Action",
          format: "numeric"
        }
      ],
      rows: rows
    }) }}
  </div>
{% endblock %}
