{% extends "partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "partials/hiddenInputs/macro.njk" import hiddenInputs %}
{% from "partials/absenceStatusTag/macro.njk" import absenceStatusTag %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "partials/auditHistory/macro.njk" import auditHistory %}

{% set fullWidth = true %}
{% set pageTitle = 'Manage temporary absence - Manage temporary absences' %}

{% block innerContent %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-bottom-2">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Manage Temporary Absences</span>
        <h1 class="govuk-heading-l">Manage {{ prisonerDetails | firstNameSpaceLastName | possessiveComma }} temporary absence</h1>

        {% set baseEditUrl = "/temporary-absence-authorisations/start-edit/" + result.id %}

        <div class="govuk-button-group">
          {% if result.status.code === 'PENDING' and user | hasPermission('TAP', 'MANAGE') %}
            {{ govukButton({
              text: "Review this absence",
              href: baseEditUrl + "/review",
              preventDoubleClick: true
            }) }}
          {% endif %}
          {% if result.status.code === 'APPROVED' and user | hasPermission('TAP', 'MANAGE') %}
            {{ govukButton({
              classes: "govuk-button--warning",
              text: "Cancel this absence",
              href: baseEditUrl + "/cancel",
              preventDoubleClick: true
            }) }}
          {% endif %}
        </div>

        {% set locationRows = [] %}

        {% for loc in result.locations %}
          {% set locationRows = (locationRows.push(loc | formatAddress), locationRows) %}
        {% endfor %}

        {% set locationValue = { html: locationRows | join('<br/><br/>') } %}

        {% set viewAbsenceHtml %}
          {{ govukSummaryList({
            card: {
              classes: "govuk-!-margin-bottom-2",
              title: {
                text: "Absence information"
              }
            },
            rows: [
              {
                key: { text: "Number of occurrences" },
                value: { text: result.totalOccurrenceCount }
              } if result.repeat,
              {
                key: { text: "Status" },
                value: { html: absenceStatusTag(result) }
              },
              {
                key: { text: "Absence type" },
                value: { text: result.absenceType.description },
                actions: { items: [{ href: baseEditUrl + "/absence-type", text: "Change", visuallyHiddenText: "absence type", classes: "govuk-link--no-visited-state" }] }
              },
              {
                key: { text: "Absence sub-type" },
                value: { text: result.absenceSubType.description },
                actions: { items: [{ href: baseEditUrl + "/absence-subtype", text: "Change", visuallyHiddenText: "absence sub-type", classes: "govuk-link--no-visited-state" }] }
              } if result.absenceSubType,
              {
                key: { text: "Absence reason" },
                value: { text: result.absenceReasonCategory.description },
                actions: { items: [{ href: baseEditUrl + "/reason-category", text: "Change", visuallyHiddenText: "absence reason", classes: "govuk-link--no-visited-state" }] }
              } if result.absenceReasonCategory,
              {
                key: { text: "Work type" if result.absenceReasonCategory else "Absence reason" },
                value: { text: result.absenceReason.description },
                actions: { items: [{ href: baseEditUrl + "/reason", text: "Change", visuallyHiddenText: "work type" if result.absenceReasonCategory else "absence reason", classes: "govuk-link--no-visited-state" }] }
              } if result.absenceReason,
              {
                key: { text: "Start date" },
                value: { text: result.start | formatDate },
                actions: { items: [{ href: baseEditUrl + "/start-end-dates#start", text: "Change", visuallyHiddenText: "start date", classes: "govuk-link--no-visited-state" }] }
              } if result.repeat,
              {
                key: { text: "End date" },
                value: { text: result.end | formatDate },
                actions: { items: [{ href: baseEditUrl + "/start-end-dates#end", text: "Change", visuallyHiddenText: "end date", classes: "govuk-link--no-visited-state" }] }
              } if result.repeat,
              {
                key: { text: "Single or repeating absence" },
                value: { text: 'Repeating' if result.repeat else 'Single' }
              },
              {
                key: { text: "Repeating pattern type" },
                value: { text: result.schedule.type | repeatTypeLabel }
              } if result.schedule.type,
              {
                key: { text: "Comments" },
                value: { text: (result.comments or "Not provided") | escape | nl2br },
                actions: { items: [{ href: baseEditUrl + "/comments", text: "Change", visuallyHiddenText: "comments", classes: "govuk-link--no-visited-state" }] }
              },
              {
                key: { text: "Accompanied or unaccompanied" },
                value: { text: result.accompaniedBy.description if result.accompaniedBy.code === 'U' else 'Accompanied' },
                actions: { items: [{ href: baseEditUrl + "/accompanied-or-unaccompanied", text: "Change", visuallyHiddenText: "if the prisoner will be accompanied or unaccompanied", classes: "govuk-link--no-visited-state" }] }
              },
              {
                key: { text: "Accompanied by" },
                value: { text: result.accompaniedBy.description },
                actions: { items: [{ href: baseEditUrl + "/accompanied", text: "Change", visuallyHiddenText: "who will accompany the prisoner", classes: "govuk-link--no-visited-state" }] }
              } if result.accompaniedBy.code !== 'U',
              {
                key: { text: "Transport" },
                value: { text: result.transport.description },
                actions: { items: [{ href: baseEditUrl + "/transport", text: "Change", visuallyHiddenText: "transport", classes: "govuk-link--no-visited-state" }] }
              },
              {
                key: { text: "Location" if result.locations.length === 1 else "Locations" },
                value: locationValue,
                actions: { items: [{ href: baseEditUrl + "/location", text: "Change", visuallyHiddenText: "location", classes: "govuk-link--no-visited-state" }] } if not result.repeat else null
              }
            ] | removeNullish | showChangeLinksIf(user | hasPermission('TAP', 'MANAGE'))
          }) }}
        {% endset -%}

        {{ govukTabs({
          items: [
            {
              label: "Manage absence",
              id: "view-absence",
              panel: { html: viewAbsenceHtml }
            },
            {
              label: "Absence history",
              id: "absence-history",
              panel: { html: auditHistory({ actions: auditedActions, prisonerName: prisonerDetails | firstNameSpaceLastName }) }
            }
          ]
        }) }}
      </div>

      <div class="govuk-grid-column-one-quarter align-right">
        {% if user | hasPermission('TAP', 'MANAGE') %}
          <h2 class="govuk-heading-m">Related tasks</h2>
          <p><a class="govuk-link govuk-link--no-visited-state" href="/add-temporary-absence/start/{{ prisonerDetails.prisonerNumber }}">Create a new absence for {{ prisonerDetails | firstNameSpaceLastName }}</a></p>
        {% endif %}
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m" id="view-occurrences">{{ "View absence occurrences" if result.repeat else "View absence occurrence" }}</h2>
      </div>
      {% if result.repeat and user | hasPermission('TAP', 'MANAGE') %}
        <div class="govuk-summary-list govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="/temporary-absence-authorisations/start-add-occurrence/{{ result.id }}">Add occurrence</a>
        </div>
      {% endif %}
    </div>

    {% if result.repeat %}
      <div class="govuk-!-padding-0 govuk-!-margin-bottom-7">
        <div class="moj-search govuk-!-width-two-thirds">
          <form method="GET" action="#view-occurrences">
            {{ hiddenInputs(query | getQueryEntries(['history'])) }}
            {{ mojDatePicker({
              id: "dateFrom",
              name: "dateFrom",
              label: {
                text: 'Start date from'
              },
              value: dateFrom,
              classes: 'hmpps-datepicker--fixed-width moj-search__input'
            }) }}
            {{ mojDatePicker({
              id: "dateTo",
              name: "dateTo",
              label: {
                text: 'End date to'
              },
              value: dateTo,
              classes: 'hmpps-datepicker--fixed-width moj-search__input',
              formGroup: { classes: 'govuk-!-margin-left-3 govuk-!-margin-right-3' }
            }) }}
            {{ govukButton({
              classes: "moj-search__button",
              text: "Apply",
              preventDoubleClick: true
            }) }}
            <a class="govuk-link govuk-link--no-visited-state govuk-body no-label-form-clear-link govuk-!-margin-left-5" href="?clear=true#view-occurrences">Clear</a>
          </form>
        </div>
      </div>
    {% endif %}

    {% set rows = [] %}
    {% for occurrence in result.occurrences | sort(false, false, 'start') %}
      {% set rows = (rows.push([
        {
          text: occurrence.start | formatDate("cccc, d MMMM 'at' HH:mm"),
          attributes: { "data-sort-value": occurrence.start }
        },
        {
          text: occurrence.end | formatDate("cccc, d MMMM 'at' HH:mm"),
          attributes: { "data-sort-value": occurrence.end }
        },
        {
          html: absenceStatusTag(occurrence),
          attributes: { "data-sort-value": occurrence.status.code | statusPriority }
        },
        {
          classes: 'govuk-link govuk-link--no-visited-state',
          html: '<a class="govuk-link govuk-link--no-visited-state" href="/temporary-absences/' + occurrence.id + '">View<span class="govuk-visually-hidden"> occurrence on ' + occurrence.start | formatDate("cccc, d MMMM yyyy 'at' HH:mm") + '</span></a>',
          format: "numeric"
        }
      ] | removeNullish), rows) %}
    {% endfor %}

    {{ govukTable({
      attributes: {
        "data-module": "moj-sortable-table"
      },
      firstCellIsHeader: false,
      classes: 'table-vertical-align-middle govuk-!-margin-top-4',
      head: [
        {
          text: "Start date and time",
          attributes: { "aria-sort": "none" }
        },
        {
          text: "End date and time",
          attributes: { "aria-sort": "none" }
        },
        {
          text: 'Status',
          attributes: { "aria-sort": "none" }
        },
        {
          text: "",
          format: "numeric"
        }
      ] | removeNullish,
      rows: rows
    }) }}
  </div>
{% endblock %}
