{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% set pageTitle = 'Add new occurrence comments - Manage temporary absences' %}

{% block innerContent %}
  <div class="govuk-width-container">
    <span class="govuk-caption-l">Manage Temporary Absences</span>
    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      {{ govukCharacterCount({
        name: "comments",
        errorMessage: validationErrors | findError('comments'),
        maxlength: 4000,
        rows: 10,
        label: {
          text: "Enter any relevant comments (optional)",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          html: "Add any details that might be relevant for reception staff or other colleagues viewing this absence to see." + ("<br/><br/>You can edit or remove these absence comments." if prepopulated else "")
        },
        value: comments
      }) }}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true
      }) }}
    </form>
  </div>
{% endblock %}
