{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "partials/hiddenInputs/macro.njk" import hiddenInputs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "partials/absenceStatusTag/macro.njk" import absenceStatusTag %}
{% from "partials/simplePagination/macro.njk" import simplePagination %}

{% set fullWidth = true %}
{% set pageTitle = 'Manage temporary absence occurrences - Manage temporary absences' %}

{% block innerContent %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Manage Temporary Absences</span>
        <h1 class="govuk-heading-l">Manage temporary absence occurrences in {{ user.activeCaseLoad.description }}</h1>
      </div>
    </div>

    <div class="block-background govuk-!-padding-6 govuk-!-margin-bottom-7 search-form">
        <form method="GET">
          {{ hiddenInputs(query | getQueryEntries(['history'])) }}
          <input type="hidden" name="page" value="1"/>
          <div class="horizontal-form govuk-!-margin-bottom-4">
            {{ govukInput({
              name: 'searchTerm',
              classes: "moj-search__input",
              label: {
                text: "Name or prison number"
              },
              value: searchTerm
            }) }}

            {{ mojDatePicker({
              id: "start",
              name: "start",
              label: {
                text: 'Start date from'
              },
              value: start,
              errorMessage: validationErrors | findError('start'),
              classes: 'hmpps-datepicker--fixed-width govuk-body moj-search__input'
            }) }}

            {{ mojDatePicker({
              id: "end",
              name: "end",
              label: {
                text: 'End date to'
              },
              value: end,
              errorMessage: validationErrors | findError('end'),
              classes: 'hmpps-datepicker--fixed-width govuk-body moj-search__input'
            }) }}

            {{ govukSelect({
              label: {
                text: "Absence status"
              },
              id: "status",
              name: "status",
              items: [
                {
                  value: '',
                  text: "All"
                },
                {
                  value: 'SCHEDULED',
                  text: "Scheduled"
                },
                {
                  value: 'IN_PROGRESS',
                  text: "In progress"
                },
                {
                  value: 'COMPLETED',
                  text: "Completed"
                },
                {
                  value: 'OVERDUE',
                  text: "Overdue"
                },
                {
                  value: 'EXPIRED',
                  text: "Expired"
                },
                {
                  value: 'CANCELLED',
                  text: "Cancelled"
                },
                {
                  value: 'DENIED',
                  text: "Denied"
                }
              ] | setSelectedValue(status or ''),
              errorMessage: validationErrors | findError('status')
            }) }}
          </div>
          <div class="horizontal-form">
            {{ govukButton({
              text: "Apply filters",
              preventDoubleClick: true
            }) }}

            <a class="govuk-link govuk-link--no-visited-state govuk-body no-label-form-clear-link" href="?clear=true">Clear</a>
          </div>
        </form>
    </div>

    {% if hasValidationError %}
      <p class="govuk-!-margin-bottom-6"><strong>Enter a valid filter to search and view temporary absences.</strong></p>
    {% elseif not results.length %}
      <p class="govuk-!-margin-bottom-6"><strong>No temporary absence occurrences match your search.</strong></p>
    {% else %}
      {% set rows = [] %}
      {% for occurrence in results %}
        {% set rows = (rows.push([
          {
            html: '<a class="govuk-link--no-visited-state" href="' + prisonerProfileUrl + '/prisoner/' + occurrence.authorisation.person.personIdentifier + '">' + occurrence.authorisation.person | firstNameSpaceLastName + "</a><br/>" + occurrence.authorisation.person.personIdentifier
          },
          {
            text: occurrence.start | formatDate("d MMMM yyyy 'at' HH:mm")
          },
          {
            text: occurrence.end | formatDate("d MMMM yyyy 'at' HH:mm")
          },
          {
            text: occurrence.absenceType.description
          },
          {
            text: occurrence.location | formatAddress
          },
          {
            text: occurrence.accompaniedBy.description
          },
          {
            text: occurrence.transport.description
          },
          {
            html: absenceStatusTag(occurrence)
          },
          {
            classes: 'govuk-link govuk-link--no-visited-state',
            html: '<a class="govuk-link govuk-link--no-visited-state" href="/temporary-absences/' + occurrence.id + '">View<span class="govuk-visually-hidden"> absence occurrence for ' + occurrence.authorisation.person | firstNameSpaceLastName + '</span></a>',
            format: "numeric"
          }
        ]), rows) %}
      {% endfor %}

      {{ simplePagination(paginationParams) }}

      {{ govukTable({
        firstCellIsHeader: false,
        classes: 'table-vertical-align-middle govuk-!-margin-top-6 sortable-table',
        head: [
          {
            text: "Name and prison number",
            key: 'lastName'
          },
          {
            text: "Start date and time",
            key: 'start'
          },
          {
            text: "End date and time",
            key: 'end'
          },
          {
            text: 'Absence type',
            key: 'absenceType'
          },
          {
            text: 'Location',
            key: 'location'
          },
          {
            text: 'Accompanied by',
            key: 'accompaniedBy'
          },
          {
            text: 'Transport',
            key: 'transport'
          },
          {
            text: 'Status',
            key: 'status'
          },
          {
            text: "",
            format: "numeric"
          }
        ] | convertToSortableColumns(sort or 'start,asc', '?sort={sortKey},{sortDirection}&page=1&' + filterQueries),
        rows: rows
      }) }}

      {{ simplePagination(paginationParams) }}
    {% endif %}
  </div>
{% endblock %}
