{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set fullWidth = true %}
{% set pageTitle = 'Search for a location - Add a temporary absence' %}

{% block innerContent %}
  <div class="govuk-width-container">
    <span class="govuk-caption-l">Create a Temporary Absence</span>
    <h1 class="govuk-heading-l">Add a location for this absence</h1>

    <p>You can add multiple locations if this absence will happen in multiple places.</p>
    <p>Enter a location manually if it:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>does not appear in the search results</li>
      <li>is not a specific address but a whole area (for example, York)</li>
    </ul>

    {% set postUrl = 'search-locations' %}
    {% set locationButton %}
      {{ govukButton({
        classes: "govuk-button--secondary",
        text: "Add location",
        preventDoubleClick: true
      }) }}
    {% endset %}
    {% include 'partials/selectLocationTab.njk' %}

    {% if locations.length %}
      <form method="post" class="govuk-!-width-full">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <h2 class="govuk-heading-m">You have added {{ locations.length }} {{ "location" if locations.length === 1 else "locations" }}</h2>

        <div class="govuk-!-margin-bottom-6">
          {% for location in locations %}
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-three-quarters">{{ location | joinAddress }}</div>
              <div class="govuk-summary-card__actions"><a href="search-locations/remove/{{ loop.index }}" class="govuk-link govuk-link--no-visited-state">Remove<span class="govuk-visually-hidden"> location {{ loop.index }}</span></a></div>
            </div>
          {% endfor %}
        </div>

        {{ govukButton({
          name: "save",
          text: "Continue",
          preventDoubleClick: true
        }) }}
      </form>
    {% endif %}
  </div>
{% endblock %}
