{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = 'Resume absence plan - Manage temporary absences' %}

{% block innerContent %}
  <div class="govuk-width-container">
    <span class="govuk-caption-l">Manage Temporary Absences</span>
    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      {{ govukRadios({
        name: "resume",
        errorMessage: validationErrors | findError('resume'),
        fieldset: {
          legend: {
            text: "Are you sure you want to resume this absence plan?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: { text: 'Resuming this plan will set future occurrences back to scheduled.' },
        items: [
          {
            value: 'YES',
            text: "Yes"
          },
          {
            value: 'NO',
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save",
        preventDoubleClick: true
      }) }}
    </form>
  </div>
{% endblock %}
