{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set pageTitle = 'Are you sure you want to cancel this absence? - Manage Temporary Absences' %}

{% block innerContent %}
  <div class="govuk-width-container">
    <span class="govuk-caption-l">Manage Temporary Absence</span>
    <h1 class="govuk-heading-l">Are you sure you want to cancel this absence?</h1>
    <p class="govuk-hint">If this is a repeating absence all occurrences of the absence will be cancelled.</p>
    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      {{ govukTextarea({
        id: "reason",
        name: "reason",
        errorMessage: validationErrors | findError('reason'),
        label: {
          text: "Enter a reason for cancelling this absence"
        },
        value: approveReason
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          classes: "govuk-button--warning",
          text: "Cancel this absence",
          preventDoubleClick: true
        }) }}

        {{ govukButton({
          classes: "govuk-button--secondary",
          text: "Do not cancel this absence",
          href: "/temporary-absence-authorisations/" + result.id,
          preventDoubleClick: true
        }) }}
      </div>
    </form>
  </div>
{% endblock %}
