{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set pageTitle = 'Do you want to approve this absence? - Manage Temporary Absences' %}

{% block innerContent %}
  <div class="govuk-width-container">
    <span class="govuk-caption-l">Manage Temporary Absences</span>
    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      {{ govukRadios({
        name: "approve",
        errorMessage: validationErrors | findError('approve'),
        fieldset: {
          legend: {
            text: "Do you want to approve this absence?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Approving this absence will also approve all occurrences if it is a repeating absence."
        },
        items: [
          {
            value: 'YES',
            checked: approve === true or approve === 'YES',
            text: "Yes, approve this absence",
            conditional: {
              html: govukTextarea({
                id: "approveReason",
                name: "approveReason",
                errorMessage: validationErrors | findError('approveReason'),
                classes: "govuk-!-width-one-half",
                label: {
                  text: "Enter any relevant comments (optional)"
                },
                value: approveReason
              })
            }
          },
          {
            value: 'NO',
            checked: approve === false or approve === 'NO',
            text: "No, reject and cancel this absence",
            conditional: {
            html: govukTextarea({
                id: "rejectReason",
                name: "rejectReason",
                errorMessage: validationErrors | findError('rejectReason'),
                classes: "govuk-!-width-one-half",
                label: {
                  text: "Enter a reason for rejecting this absence"
                },
                value: approveReason
              })
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Confirm and submit",
        preventDoubleClick: true
      }) }}
    </form>
  </div>
{% endblock %}
