{% extends "partials/layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = 'Absence saved - Add a temporary absence' %}

{% block innerContent %}
  <div class="govuk-width-container">
    {{ govukPanel({
      titleText: "Temporary absence saved for " + prisonerDetails | firstNameSpaceLastName,
      text: ""
    }) }}

    <p class="govuk-body">
      <a class="govuk-link govuk-link--no-visited-state" href="/add-temporary-absence/start/{{ prisonerDetails.prisonerNumber }}?history={{ historyQuery }}">Add another temporary absence for this prisoner</a>
    </p>

    <p class="govuk-body">
      <a class="govuk-link govuk-link--no-visited-state" href="/temporary-absence-authorisations?start={{ inputDate() }}&end={{ inputDate(31) }}&history={{ historyQuery }}">View upcoming temporary absences in your establishment</a>
    </p>

    <p class="govuk-body">
      <a class="govuk-link govuk-link--no-visited-state" href="{{ digitalPrisonServicesUrl }}">Return to the DPS homepage</a>
    </p>
  </div>
{% endblock %}
