{% macro shiftPreview() %}
  <div class="shift-preview govuk-grid-row govuk-!-display-none">
    <div class="govuk-grid-column-full"><h2 class="govuk-heading-m govuk-!-margin-top-5">Absence preview</h2></div>
    <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
      <button class="govuk-body-s mc-toggle-button"><span class="mc-toggle-text"></span></button>
    </div>
    <div class="govuk-grid-column-two-thirds preview-table govuk-!-display-none"></div>
    <div class="govuk-grid-column-full preview-calendar govuk-!-display-none"></div>
  </div>
{% endmacro %}
