{% extends "partials/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = 'Select ' + absenceType.description | formatRefDataName + ' type - Manage Temporary Absences' %}

{% block innerContent %}
  <div class="govuk-width-container">
    <span class="govuk-caption-l">Manage Temporary Absences</span>
    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      {{ govukRadios({
        name: "absenceSubType",
        errorMessage: validationErrors | findError('absenceSubType'),
        fieldset: {
          legend: {
            text: "What type of " + absenceType.description | formatRefDataName + " is this?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: options | setCheckedValue(absenceSubType)
      }) }}

      {{ govukButton({
        text: "Confirm and save",
        preventDoubleClick: true
      }) }}
    </form>
  </div>
{% endblock %}
