.govuk-main-wrapper {
  min-height: 400px;
}

.homepage-card-background {
  padding: 30px 0;
  background: #f0f4f5;
}

.block-background {
  background-color: govuk-colour("light-grey");
  padding: 30px 15px;
}

.disable-link {
  pointer-events: none;
  cursor: default;
}

.half-width {
  width: 50% !important;
}

.hmpps-display-block {
  display: block;
}

.hmpps-display-none {
  display: none !important;
}

.hmpps-js-autosuggest-input {
  width: 100% !important;
}

.align-right {
  float: right !important;
}

.unset-width {
  width: unset;
}

.margin-bottom-7-5 {
  margin-bottom: 45px !important;
}
