.govuk-main-wrapper {
  min-height: 400px;
}

.homepage-card-background {
  padding: 30px 0;
  background: #f0f4f5;
}

.block-background {
  background-color: govuk-colour("light-grey");
  padding: 30px 15px;
}

.disable-link {
  pointer-events: none;
  cursor: default;
}

.half-width {
  width: 50% !important;
}
