.govuk-main-wrapper {
  min-height: 400px;
}

.homepage-card-background {
  padding: 30px 0;
  background: #f0f4f5;
}

.block-background {
  background-color: govuk-colour("light-grey");
  padding: 30px 15px;
}

.disable-link {
  pointer-events: none;
  cursor: default;
}

.half-width {
  width: 50% !important;
}

.hmpps-display-block {
  display: block;
}

.hmpps-display-none {
  display: none !important;
}

.hmpps-js-autosuggest-input {
  width: 100% !important;
}

.align-right {
  float: right !important;
}

.unset-width {
  width: unset;
}

.margin-bottom-7-5 {
  margin-bottom: 45px !important;
}

.preview-calendar {
  table {
    width: 100%;
    margin-bottom: 40px
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th {
    width: 14.2857%;
  }
  td {
    vertical-align: top;
    height: 80px;
  }

  .middle {
    text-align: center;
  }
}

.mc-toggle-button {
  border: 1px solid #b1b4b6;
  color: #1d70b8;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  background-color: #fff;
}

.mc-toggle-button:hover {
  background-color: #f3f2f1;
  color: #003078
}

.mc-toggle-button:focus {
  background-color: #fd0;
  border-color: rgba(0,0,0,0);
  outline: 3px solid rgba(0,0,0,0);
  color: #0b0c0c;
  box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
  text-decoration: none
}

.overnightReturnTimeLabel {
  display: none;
}

.overnightCheckbox:has(> .govuk-checkboxes input:checked) ~ .govuk-form-group {
  .overnightReturnTimeLabel {
    display: inline!important;
  }
}

.govuk-table__header {
  button {
    svg {
      overflow: visible;
    }
  }
}

.add-another-form-freeform-pattern-offset {
  .moj-add-another__remove-button {
    transform: translateY(128px);
  }
}

.add-another-form-shift-pattern-offset {
  .moj-add-another__remove-button {
    transform: translateY(75px);
  }
}

.placeholder-background {
  background-color: #e5e5f710;
  background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #444cf710, #444cf710 50%, #e5e5f710 50%);
  background-size: 10px 10px;
}
