.govuk-main-wrapper {
  min-height: 600px;
}

.homepage-content {
  padding: 30px 0;
  background: #f0f4f5;
  min-height: 500px;
  position: absolute;
  left: 0;
  width: 100vw;
}

.block-background {
  background-color: govuk-colour("light-grey");
  padding: 30px 15px;
}

.disable-link {
  pointer-events: none;
  cursor: default;
}
