{% extends "partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = 'Do you want the following occurrences to be added based on the new date range - Manage temporary absences' %}

{% block innerContent %}
  <div class="govuk-width-container">
    <span class="govuk-caption-l">Manage Temporary Absences</span>
    <h1 class="govuk-heading-l">Do you want the following occurrences to be added based on the new date range?</h1>
    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

      {% if prependOccurrences.length %}
        {% set rows = [] %}
        {% for absence in prependOccurrences %}
          {% set rows = (rows.push({
            key: {
              classes: 'half-width',
              html: absence.startDate | formatDate('cccc d MMMM') if absence.startDate === absence.returnDate else (absence.startDate | formatDate('cccc d MMMM') + ' to <br/>' + absence.returnDate | formatDate('cccc d MMMM'))
            },
            value: {
              html: 'Start time: ' + absence.startTime + '<br/>Return time: ' + absence.returnTime
            }
          }), rows) %}
        {% endfor %}

        {{ govukSummaryList({
          card: {
            title: {
              text: "New occurrences before the original date range"
            }
          },
          rows: rows
        }) }}
      {% endif %}

      {% if appendOccurrences.length %}
        {% set rows = [] %}
        {% for absence in appendOccurrences %}
          {% set rows = (rows.push({
            key: {
              classes: 'half-width',
              html: absence.startDate | formatDate('cccc d MMMM') if absence.startDate === absence.returnDate else (absence.startDate | formatDate('cccc d MMMM') + ' to <br/>' + absence.returnDate | formatDate('cccc d MMMM'))
            },
            value: {
              html: 'Start time: ' + absence.startTime + '<br/>Return time: ' + absence.returnTime
            }
          }), rows) %}
        {% endfor %}

        {{ govukSummaryList({
          card: {
            title: {
              text: "New occurrences after the original date range"
            }
          },
          rows: rows
        }) }}
      {% endif %}

      {% if appendOccurrences.length === 0 and prependOccurrences.length === 0 %}
        <p>No absences will be created with this date range change.</p>
      {% endif %}

      {{ govukButton({
        text: "Confirm and save",
        preventDoubleClick: true
      }) }}
    </form>
  </div>
{% endblock %}
