{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set pageTitle = 'Enter location - Add a temporary absence' %}

{% block meta %}
  <meta name="autocompleteElements" content="city"/>
  <meta name="autocompleteElements" content="county"/>
  <meta name="autocompleteElements" content="country"/>
{% endblock %}

{% block innerContent %}
  <div class="govuk-width-container">
    <span class="govuk-caption-l">Create a Temporary Absence</span>
    <h1 class="govuk-heading-l">Enter the location where this absence will take place</h1>

    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

      {{ govukInput({
        id: "flat",
        name: "flat",
        label: { text: "Flat or building unit (optional)" },
        hint: { text: "For example, ‘Flat 2’ or ‘Unit B’." },
        classes: 'govuk-!-width-two-thirds',
        errorMessage: validationErrors | findError('flat'),
        value: flat
      }) }}

      {{ govukInput({
        id: "property",
        name: "property",
        label: { text: "Building name (optional)" },
        hint: { text: "For example, ‘Dale House’." },
        classes: 'govuk-!-width-two-thirds',
        errorMessage: validationErrors | findError('property'),
        value: property
      }) }}

      {{ govukInput({
        id: "street",
        name: "street",
        label: { text: "Street number and name (optional)" },
        hint: { text: "For example, ‘35 High Road’." },
        classes: 'govuk-!-width-two-thirds',
        errorMessage: validationErrors | findError('street'),
        value: street
      }) }}

      {{ govukInput({
        id: "area",
        name: "area",
        label: { text: "District or locality (optional)" },
        classes: 'govuk-!-width-two-thirds',
        errorMessage: validationErrors | findError('area'),
        value: area
      }) }}

      {{ govukSelect({
        id: "city",
        name: "city",
        label: { text: "Town or city (optional)" },
        hint: { text: "Select the town or city from the suggestions that appear when you start to enter a name." },
        formGroup: { classes: 'govuk-!-width-two-thirds'},
        items: cityOptions | setSelectedValue(city),
        errorMessage: validationErrors | findError('city'),
        attributes: { 'text-value': city }
      }) }}

      {{ govukSelect({
        id: "county",
        name: "county",
        label: { text: "County (optional)" },
        hint: { text: "Select the county from the suggestions that appear when you start to enter a name." },
        formGroup: { classes: 'govuk-!-width-two-thirds'},
        items: countyOptions | setSelectedValue(county),
        errorMessage: validationErrors | findError('county'),
        attributes: { 'text-value': county }
      }) }}

      {{ govukInput({
        id: "postcode",
        name: "postcode",
        label: { text: "Postcode (optional)" },
        classes: 'govuk-!-width-two-thirds',
        errorMessage: validationErrors | findError('postcode'),
        value: postcode
      }) }}

      {{ govukSelect({
        id: "country",
        name: "country",
        label: {  text: "Country" },
        hint: { text: "Select the country from the suggestions that appear when you start to enter a name." },
        formGroup: { classes: 'govuk-!-width-two-thirds'},
        items: countryOptions | setSelectedValue(country),
        errorMessage: validationErrors | findError('country'),
        attributes: { 'text-value': country }
      }) }}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true
      }) }}
    </form>
  </div>
{% endblock %}
