{% extends "partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/absenceStatusTag/macro.njk" import absenceStatusTag %}

{% set fullWidth = true %}
{% set pageTitle = 'Temporary absence details' %}

{% block innerContent %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-bottom-2">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Manage Temporary Absence</span>
        <h1 class="govuk-heading-l">Temporary Absence details</h1>
      </div>
      <div class="govuk-summary-list govuk-summary-list__actions">
        <div class="govuk-button-group govuk-!-margin-top-4">


          {% if not result.cancelled %}
            <a class="govuk-link govuk-link--no-visited-state" href="/temporary-absences/{{ result.id }}/cancel">Cancel absence</a>
          {% endif %}

          {% if result.authorisation.status.code === 'APPROVED' %}
            {{ govukButton({
              text: "Mark as completed",
              href: "/temporary-absences/" + result.id + "/complete",
              preventDoubleClick: true
            }) }}
          {% endif %}

          {% if result.authorisation.status.code === 'PENDING' %}
            {{ govukButton({
              text: "Approve absence",
              href: "/temporary-absence-authorisations/" + result.authorisation.id + "/approval",
              preventDoubleClick: true
            }) }}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukSummaryList({
          card: {
            classes: "govuk-!-margin-bottom-2",
            title: {
              html: "<h2 class='govuk-summary-card__title'>Absence details</h2><div class='govuk-summary-card__actions'>" + absenceStatusTag(result) + "</div>",
              classes: "govuk-!-display-none"
            }
          },
          rows: [
            {
              key: { text: "Release at" },
              value: { text: result.releaseAt | formatDate('cccc, d MMMM yyyy HH:mm') },
              actions: { items: [{
                href: "#",
                text: "Change",
                visuallyHiddenText: "release time"
              }] }
            },
            {
              key: { text: "Return by" },
              value: { text: result.returnBy | formatDate('cccc, d MMMM yyyy HH:mm') },
              actions: { items: [{
                href: "#",
                text: "Change",
                visuallyHiddenText: "return time"
              }] }
            },
            {
              key: { text: "Accompanied by" },
              value: { text: result.accompaniedBy.description },
              actions: { items: [{
                href: "#",
                text: "Change",
                visuallyHiddenText: "who will accompany the prisoner"
              }] }
            },
            {
              key: { text: "Transport" },
              value: { text: result.transport.description },
              actions: { items: [{
                href: "#",
                text: "Change",
                visuallyHiddenText: "transport type"
              }] }
            }
          ]
        }) }}

        <p class="govuk-!-margin-bottom-7">
          Added at {{ result.added.at | formatDate('cccc, d MMMM yyyy HH:mm') }} by {{ result.added.displayName | initialiseName }} ({{ result.added.by }})
        </p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukSummaryList({
          card: {
            classes: "govuk-!-margin-bottom-7",
            title: {
              text: "Location details"
            }
          },
          rows: [
            {
              key: { text: "Location" },
              value: { text: result.location.description },
              actions: { items: [{
              href: "#",
              text: "Change",
              visuallyHiddenText: "location address"
            }] }
            },
            {
              classes: "govuk-summary-list__row--no-border",
              key: { text: "Phone numbers" },
              value: { text: "" }
            },
            {
              classes: "govuk-summary-list__row--no-border",
              key: { text: "Business number", classes: 'govuk-!-font-weight-regular' },
              value: { text: "02079460000, ext 99" }
            },
            {
              key: { text: "Fax number", classes: 'govuk-!-font-weight-regular' },
              value: { text: "02079460001" }
            },
            {
              key: { text: "Contact person" },
              value: { text: "John Smith" }
            }
          ]
        }) }}
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukSummaryList({
          card: {
            title: { text: "Authorisation details" },
            actions: { items: [{
              href: "/temporary-absence-authorisations/" + result.authorisation.id,
              text: "Manage",
              visuallyHiddenText: "authorisation"
            }] }
          },
          rows: [
            {
              key: { text: "Absence type" },
              value: { text: result.authorisation.absenceType.description }
            },
            {
              key: { text: "Absence sub-type" },
              value: { text: result.authorisation.absenceSubType.description }
            } if result.authorisation.absenceSubType,
            {
              key: { text: "Absence reason" },
              value: { text: result.authorisation.absenceReason.description }
            } if result.authorisation.absenceReason,
            {
              key: { text: "Single or repeating absence" },
              value: { text: 'Repeating' if result.authorisation.repeat else 'Single' }
            },
            {
              key: { text: "Approval status" },
              value: { text: result.authorisation.status.description }
            }
          ] | removeNullish
        }) }}
      </div>
    </div>

  </div>
{% endblock %}
