{% extends "partials/layout.njk" %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/validatedTimeInput/macro.njk" import validatedTimeInput %}

{% set pageTitle = 'Change absence dates - Manage temporary absences' %}

{% block innerContent %}
  <div class="govuk-width-container">
    <span class="govuk-caption-l">Manage Temporary Absences</span>
    <h1 class="govuk-heading-l">What dates will this absence start and end?</h1>
    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      {{ mojDatePicker({
        id: "start",
        name: "start",
        label: {
          text: 'What date will the first absence start?',
          classes: "govuk-fieldset__legend--m"
        },
        hint: {
          text: 'For example, 17/5/2024.'
        },
        value: start,
        errorMessage: validationErrors | findError('start'),
        classes: 'hmpps-datepicker--fixed-width govuk-body'
      }) }}

      {{ mojDatePicker({
        id: "end",
        name: "end",
        label: {
          text: 'What date will the last absence end?',
          classes: "govuk-fieldset__legend--m"
        },
        hint: {
          text: 'For example, 17/5/2024.'
        },
        value: end,
        errorMessage: validationErrors | findError('end'),
        classes: 'hmpps-datepicker--fixed-width govuk-body'
      }) }}

      {{ govukButton({
        text: "Confirm and save",
        preventDoubleClick: true
      }) }}
    </form>
  </div>
{% endblock %}
